[submodule "papers/dqn/example"]
	path = papers/dqn/example
	url = https://github.com/jacobaustin123/pytorch-dqn.git
[submodule "cleanrl"]
	path = cleanrl
	url = https://github.com/vwxyzjn/cleanrl.git
