[submodule "papers/dqn/example"]
	path = papers/dqn/example
	url = https://github.com/jacobaustin123/pytorch-dqn.git
[submodule "papers/ppo/example"]
	path = papers/ppo/example
	url = https://github.com/ikostrikov/pytorch-a2c-ppo-acktr-gail.git
