[submodule "d4rl"]
	path = d4rl
	url = https://github.com/rail-berkeley/d4rl.git
[submodule "tianshou"]
	path = tianshou
	url = https://github.com/thu-ml/tianshou.git
[submodule "LESSON"]
	path = LESSON
	url = https://github.com/SiyuanLee/LESSON.git
